<h2>Criar Usuário</h2>


<div>
    <label> Email:
        <input placeholder="Insira o E-mail" [(ngModel)]="request.email"></label> <br>
    <label> Login:
        <input placeholder="Insira o Login" [(ngModel)]="request.login"></label> <br>
    
    <label> Nome:
        <input placeholder="Insira seu Nome" [(ngModel)]="request.nome"></label> <br>
   
    <label> Senha
        <input placeholder="Insira sua senha" [(ngModel)]="request.senha"></label> <br>
    
    <button (click)="save()">Criar</button>
</div>

<br><br>

<div *ngIf="response">
    <h3>Criado com Sucesso</h3>
    <label>Email: {{response.email}}</label><br>
    <label>Login: {{response.login}}</label><br>
    <label>Nome: {{response.nome}}</label><br>
    <label>Senha: {{response.senha}}</label>
</div>