<h1>Usuários</h1>

<table>
    <thead>
        <td>Nome:</td>
        <td>Email:</td>
        <td>Login:</td>
        <td>Admin</td>
        <td>...</td>
    </thead>
    <tbody>
        <tr>
            <td>Teste</td>
            <td>Teste@teste</td>
            <td>Tentando</td>
            <td>Tst</td>
            <td><a routerLink="/users/update/{{user.id}}">Editar</a></td>
         
        </tr>
    </tbody>
</table>
