 <nav>
   <ul>
     <li>
       <a routerLink="/users">Lista de Usuários</a> <br>
       <a routerLink="/users/create"> Criar Usuário</a> 
      </li>
   </ul>
 </nav>

<div>
  <router-outlet></router-outlet>
</div>
